body {
  background-image:  url("../images/bgImg.png");
  background-position: 50% 50%;
  background-repeat:no-repeat;
  margin: 0;
}

h3 {
  font-size: 1.4em;
  color: red;
}

#schedulePane { 
  background: url('../images/wrapperBg-trans.png');
  background-repeat: no-repeat;
  height: 600px;
  margin: 60px auto;
  position: relative;
  width: 865px;
}

#logo {
  position: absolute;
  top: 34px;
  left: 30px;
  width: 419px;
}

#navigation {
  position: absolute;
  top: 150px;
  left: 30px;
  width: 155px;
}

#navigation img {
  padding-bottom: 10px;
}

#navigation a {
  display: block;
  float: left;
  height: 0;
  margin: 0 0 10px 0;
  overflow: hidden;
  padding: 140px 0 0 0;
  width: 155px;
  z-index: 200;
}

#navigation a#beginner {
  background: url('../images/beginnersBtn.png') no-repeat;
}
#navigation a#beginner.active {
  background: url('../images/beginnersBtnActive.png') no-repeat;
}
#navigation a#intermediated {
  background: url('../images/intermediateBtn.png') no-repeat;
}
#navigation a#intermediated.active {
  background: url('../images/intermediateBtnActive.png') no-repeat;
}
#navigation a#advance {
  background: url('../images/advancedBtn.png') no-repeat;
}
#navigation a#advance.active {
  background: url('../images/advancedBtnActive.png') no-repeat;
}

#tabs {
  position: absolute;
  top: 140px;
  left: 190px; 
  width: 650px;
  height: 50px; 
}

#tabs a {
  display: block;
  float: left;
  height: 0;
  overflow: hidden;
  padding: 140px 0 0 0;
  width: 155px;
  z-index: 200;
}

#tabs a#welcome.active {
  background: url('../images/welcomeTabActive.png') no-repeat;
}
#tabs a#welcome.inactive {
  background: url('../images/welcomeTabInactive.png') no-repeat;
}
#tabs a#beginners.active {
  background: url('../images/beginnersTabActive.png') no-repeat; 
}
#tabs a#beginners.inactive {
  background: url('../images/beginnersTabInactive.png') no-repeat; 
}
#tabs a#intermediate.active {
  background: url('../images/intermediateTabActive.png') no-repeat;
}
#tabs a#intermediate.inactive {
  background: url('../images/intermediateTabInactive.png') no-repeat;
}
#tabs a#advanced.active {
  background: url('../images/advancedTabActive.png') no-repeat; 
}
#tabs a#advanced.inactive {
  background: url('../images/advancedTabInactive.png') no-repeat; 
}

#content {
  position: absolute;
  text-align: center;
  background-color: #6fb26f;
  background-image: url("../images/yoga.jpg");
  background-position: 50% 50%;
  top: 190px;
  left: 198px;
  width: 615px;
  height: 380px;
  padding: 10px;
}

table { 
  border: 6px solid #1f394d; 
  border-collapse: collapse; 
  padding: 0 0 20px 0; 
  width: 95%; 
}

td, th { 
  border: 6px solid #1f394d; 
  padding: 6px; 
}

form {
  margin: 20px;
}
